<h1>Results</h1>

<ul class="results">
  <%= @ticket_results.each do |result| %>
    <li>
      <div>Ticket</div>
      <div>From: <%= result.from %></div>
      <div>To: <%= result.to %></div>
    </li>
  <% end %>
</ul>